@charset "utf-8";
body {
    background: #03c523;
    margin: 0 auto;
    color: white;
}
/* l'enveloppe principal de la page */
#conteneur {
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(red, rgb(214, 106, 247), yellow );
}

header {
    height: 100px;
    background: #808000;
}

nav {
    height: 150px;
    background: #e6891f;
}

#nav_gauche {
    background: #333;
    float: left;
    width: 30%;
    min-height: 500px;
    margin-top: 0;
}

#main {
    background: lightblue;
    width: 70%;
    min-height: 500px;
    float: right;
}

footer {
    height: 50px;
    background: #92517f;
}

.clear {
    clear: both;
}

section {
    background: lightseagreen;
    margin-bottom: 10px;
}

article {
    background: yellowgreen;
    width: 50%;
    float: left;
    /* margin-top: 50px; */
}

aside {
    background: purple;
    width: 50%;
    float: right;
    /* margin-top: 50px; */
}

.marge_haute {
    margin-top: 50px;
}


/* article {
    background: #87cefa;

}

.article_1 {
   float: left;
   margin-top: 50px;
   width: 250px;
   height: 300px;
}

.aside_1 {
    width: 400px;
    height: 400px;
    float: left;
    background: #010618;
}

.aside_2 {
    float: right;
    width: 250px;
    height: 300px;
    margin-top: 100px;
}

section {
    float: left;
    width: 600px;
    height: 400px;
    background: #9e1f1f; 
}

aside {
    background: #5f9ea0;
} */



